/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}



/* global */

body 												{color:#333; font-family:'Noto Sans', helvetica, arial, sans-serif; font-size:1em;}
a:link,
a:visited										    {}
a:hover,
a:visited:hover									    {}

table td										    {}

h1												    {font-size:2.25em; font-weight:bold; margin:0 0 60px 0;}
h2												    {font-size:1.5em; font-weight:bold; margin:0 0 10px 0;}
h3												    {}
h4												    {}
h5												    {}
h6												    {}

p												    {}
span												{}
hr													{}
label												{font-weight:bold;}
input												{font-family:'Noto Sans', helvetica, arial, sans-serif;}
input[type=text],
input[type=number],
input[type=email]									{border:1px solid #ccc; color:#e6821e; font-size:1.5em; padding:5px 7px;
													transition: background .2s;
													-webkit-transition: background .2s;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus								{background:#fdf7ea;}
input[type=submit]									{background:#333; border:0; color:#fff; cursor:pointer; font-size:1em; font-weight:bold; padding:5px 10px;}
input[type=submit]:hover							{background:#555;}
textarea											{}

::selection 										{}
::-moz-selection 									{}
					



/* container */

#container											{margin:40px auto; overflow:auto; width:800px;}

#form-geometry 										{float:left; width:50%;}
#form-geometry ul									{margin:0 0 10px 0;}
#form-geometry ul li								{display:inline-block; margin:0 10px 0 0; text-transform:uppercase;}
#form-geometry ul li.active	a						{color:#000; text-decoration:none;}
#form-geometry ul li a								{color:#c2c2c2;text-decoration:none;}
.form-section										{display:none; margin:0 0 30px 0;}

#result												{float:left; width:50%;}
#result span										{color:#e6821e;}



/* header */

#header												{}



/* responsive design css rules */

@media screen and (max-width:480px) {
body 												{}
													}

@media screen and (min-width:480px) and (max-width:800px) {
body 												{}
													}

@media screen and (min-width:800px) and (max-width:1024px) {
body 												{}
													}



/* misc */

strong											    {font-weight:bold;}
em													{font-style:italic;}
.cb													{clear:both;}          
